include README.rst CHANGES.rst COPYING COPYING.LESSER
include test_discid.py examples.py
recursive-include doc *.rst
include doc/conf.py doc/Makefile
recursive-include doc/ext *.py
exclude setup.cfg
include MANIFEST.in
